* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(65deg, #646363, #dfdede,#9e9d9d,#818181);
    /* height: 100vh; */
}

main {
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
}

@media only screen and (max-width:700px) {
    main {
        height: unset;
        padding-top: 30px;
    }
}