<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu-pages</title>
    <link rel="stylesheet" href="./menu-pages.css">
    <link rel="stylesheet" href="../../fonts/fonts.css">
</head>
<body>
    <!-- Menu para las paginas -->
    <!-- contenedor del menu -->
    <div class="menu-pages-container">
        <!-- imagen consola de fondo -->
        <img class="consola-pages" src="https://i.ibb.co/3RNFLqN/menu2-landscape.png" alt="menu consola">
        <!-- imagen consola de fondo para celular -->
        <img class="consola-pages-cel" src="https://i.ibb.co/ZmRSKTs/500x250-celular.png" alt="">
        <!-- elementos del menu -->
        <div class="menu-items-container">
            <a class="menu-pages-item" href="./">Home</a>
            <a class="menu-pages-item" href="#">Video</a>
            <a class="menu-pages-item" href="#">Luces</a>
            <a class="menu-pages-item" href="#">DJ</a>
        </div>
        <!-- elementos del menu para cel -->
        <div class="menu-items-container-cel">
            <a class="menu-pages-item-cel" href="./">Home</a>
            <a class="menu-pages-item-cel" href="#">Video</a>
            <a class="menu-pages-item-cel" href="#">Luces</a>
            <a class="menu-pages-item-cel" href="#">DJ</a>
        </div>
        <!-- botones -->
        <div class="botones-container">
            <img  class="boton-consola-pages" src="https://i.ibb.co/vZT5v27/menu2-boton.png" alt="boton decorativo">
            <img  class="boton-consola-pages" src="https://i.ibb.co/vZT5v27/menu2-boton.png" alt="boton decorativo">
            <img  class="boton-consola-pages" src="https://i.ibb.co/vZT5v27/menu2-boton.png" alt="boton decorativo">
            <img  class="boton-consola-pages" src="https://i.ibb.co/vZT5v27/menu2-boton.png" alt="boton decorativo">
        </div>
    </div>

    <script src="./menu-pages.js"></script>
</body>
</html>