.slides {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.diapos {
    width: 100%;
}

/* contenedor del banner */
.banner {
  width: 50%;
  height: 220px;
  position: relative;
  margin: auto;
  box-shadow: 0px 0px 10px #7dbfe6
}

/* botones adelante / atras */
.atras, .adelante {
  width: 8%;  
  cursor: pointer;
  position: absolute;
  top: 50%;
  /* transition: 0.6s ease; */
  user-select: none;
}

/* Posicion del boton adelante */
.adelante {
  right: 0;
  transform: translate(112%, -50%);
}

.atras {
  transform: translate(-112%, -50%);
}

/* botones:hover aumntar su tamanio */
.atras:hover, .adelante:hover {
  width: 9%;
}

.bolitas-container {
  display: flex;
  border: 1px solid blue;
  position: absolute;
  bottom: -16%;
  left: 50%;
  transform: translateX(-50%);
}

/* bolitas indicadoras */
.bolita {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: #3a3541;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active, .bolita:hover {
  background-color: #d6e0d1;
  box-shadow: 0px 0px 20px #62f80b;
}

/* animacion Fading */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width:1300px){
  .atras {
    transform: rotate(90deg) translate(-50%, -2%);
  }

  .adelante {
    transform: rotate(-90deg) translate(50%, 2%);
  }

}

@media only screen and (max-width:500px){
  .banner {
    height: 140px;
  }
}