<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redes</title>
    <link rel="stylesheet" href="./redes.css">
</head>
<body>
    <!-- redes -->
    <img class="sm" src="https://i.ibb.co/f9tvsRS/contadorado.png" alt="" onclick="showMedia()">
    <a href="#"><img class="sm-button" src="https://i.ibb.co/Fmtkfcb/whatsdorado.png" alt=""></a>
    <a href=""><img class="sm-button" src="https://i.ibb.co/pLn4wph/youtubedorado.png" alt=""></a>
    <a href=""><img class="sm-button" src="https://i.ibb.co/YPkN98s/instadorado.png" alt=""></a>
    <a href=""><img class="sm-button" src="https://i.ibb.co/Yc0m8NZ/facedorado.png" alt=""></a>

    <!-- Redes celular -->
    <div class="sm-cel">
        <a href="#"><img src="https://i.ibb.co/Fmtkfcb/whatsdorado.png" alt=""></a>
        <a href="#"><img src="https://i.ibb.co/pLn4wph/youtubedorado.png" alt=""></a>
        <a href="#"><img src="https://i.ibb.co/YPkN98s/instadorado.png" alt=""></a>
        <a href="#"><img src="https://i.ibb.co/Yc0m8NZ/facedorado.png" alt=""></a>
    </div>

    <!-- scripts -->
    <script src="./redes.js"></script>
</body>
</html>