
@font-face {
    font-family: factor;
    src: url('./factor.ttf');
}

@font-face {
    font-family: sky;
    src: url('./skyridgbold.ttf');
}

@font-face {
    font-family: lemon;
    src: url('./LEMONMILK-Light.otf');
}